.centered {
    margin: 1em auto;  
    padding: 1em;
    width: 90%;
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.4);
}

.centered-h1 {
    text-align: center;
}